.block {
  --pos-x: 0;
  --pos-y: 0;

  grid-column: var(--pos-x);
  grid-row: var(--pos-y);

  outline: 1px dashed black;

  &.red {
    color: red;
  }

  &.blue {
    color: var(--blue);
  }

  &.green {
    color: var(--green);
  }

  &.bgGreen {
    background-color: var(--green);
  }
}
