.grid {
  display: grid;
  grid-template-columns: repeat(40, 1ch);
  grid-template-rows: repeat(24, var(--font-size));

  font-size: var(--font-size);

  white-space: pre;

  margin: 4rem auto;

  width: fit-content;

  a {
    text-decoration: unset;
    color: inherit;
  }
}
