.grid {
  --font-size: 1.5rem;

  font-family: AndroidVeraMono, monospace;
  display: grid;
  grid-template-columns: repeat(40, 1ch);
  grid-template-rows: repeat(24, var(--font-size));

  font-size: var(--font-size);

  margin: 4em auto;
  width: fit-content;

  a {
    text-decoration: unset;
    color: inherit;
  }

  .bottomDivider {
    grid-column: 1 / -1;
    grid-row: 23;
    background-color: var(--green);

    color: var(--blue);
    white-space: pre;

    a {
      margin-left: 15ch;
    }
  }

  .topscores {
    grid-row: 24;
    grid-column: 2 / span 9;
    color: var(--red);
    height: 100%;
  }

  .over {
    grid-row: 24;
    grid-column: 13 / span 4;
    color: var(--green);
  }

  .instellingen {
    grid-row: 24;
    grid-column: 19 / span 12;
    color: var(--yellow);
  }

  .bron {
    color: var(--cyan);
    grid-row: 24;
    grid-column-start: 33;
  }
}
