:root {
  --black: #000;
  --blue: #00f;
  --cyan: #0ff;
  --green: #0f0;
  --red: #f00;
  --white: #fff;
  --yellow: #ff0;
}

@font-face {
  font-family: 'AndroidVeraMono';
  src: url('/public/fonts/AndroidVeraMono.woff') format('woff');
}

* {
  font-family: AndroidVeraMono, monospace;
}

body {
  background-color: black;
  color: white;
}

.bg-black {
  background-color: var(--black);
}

.white {
  color: var(--white);
}

.blue {
  color: var(--blue);
}
